<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Vancouver Market</h1>
    <p class="lead">The lifestyle you want.</p>
    <img src="assets/images/logo.png" alt="Vancouver Market">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features Products:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in products">
        <li><a ui-sref="productDetail({id:product._id})" tooltip="{{product.description}}"> {{product.title}} - <span class="text-muted">{{product.price | currency}}</span></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Sell your products</label>
    <p class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" ui-sref="productNew">Add New</button>
      </span>
    </p>
  </form>
</div>
