<div ng-controller="SidebarController" class="sidebar">
  <ul class="nav nav-sidebar">
    <li ng-repeat="category in catalog" ng-class="{active:isActive(category.slug)}">
	<a ui-sref="productsCatalog({slug:category.slug})">{{category.name}}</a>
    </li>
  </ul>
</div>
