/*hide for mobile, show later *?
.sidebar{
  display:none;
}

@media (min-width: 768px){
  .sidebar{
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y:auto;
  }
}

/* Sidebar navigation */
.nav-sidebar{
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;

}
