<div ng-show="errors" class="alert alert-danger errors" role="alert">
  <strong>Error(s):</strong>
  <p>{{errors}}</p>
</div>

<div class="row">
	<div class="col-md-2">
		<div ngf-select ngf-drop class="drop-box" ng-model="product.picture"
			ngf-drag-over-class="dragover" ngf-multiple="false"
			ngf-pattern="'image/*'" ngf-max-size="15MB" accept="image/*">Drop Images here or click to upload button</div>
		<div ngf-no-file-drop> File Drag/Drop is not supported for this browser</div>

		<button accept="image/*" ngf-select ngf-max-size="15MB" type="file" class="btn btn-primary" ng-model="product.picture"> Upload picture</button>

		<h2 ng-show="product.picture">Preview</h2>
		<img ngf-src = "product.picture" width="170px">
		<div ng-show="product.picture">{{product.picture.name}} {{product.picture.$error}} {{product.picture.$errorParam}} </div>
		<img src="{{product.imageUrl}}" alt="{{product.title}}" class="img-responsive">
	</div>

	<div class="col-md-10">
    		<div class="form-group">
      			<label for="title" class="col-sm-2 control-label">Title</label>
      			<div class="col-sm-10">
        			<input type="text" ng-model="product.title" class="form-control" id="title" placeholder="product title"/>
      			</div>
    		</div>

    		<div class="form-group">
      			<label for="year" class="col-sm-2 control-label">Description</label>
      			<div class="col-sm-10">
        			<input type="text" ng-model="product.description" class="form-control" id="description" placeholder="Describe your product..."/>
      			</div>
    		</div>

    		<div class="form-group">
      			<label for="director" class="col-sm-2 control-label">Price</label>
      			<div class="col-sm-10">
        			<input type="number" step="any" min="0" ng-model="product.price" class="form-control" id="price" placeholder="0.00"/>
      			</div>
    		</div>

    		<div class="form-group">
      			<div class="col-sm-offset-2 col-sm-10">
        			<input type="submit" class="btn btn-primary" value="Save"/>
      			</div>
    		</div>
	</div>
</div>

