<div class="container">
	<div class="row">
	  <div class="col-lg-12">
		<div class="thumbnail productbox">
		  <div class="">
			<a ui-sref="productDetail({id:product._id})">
                                <img src="{{product.imageUrl}}" alt="{{product.title}}" class="img-responsive">
				<div class="producttitle">{{product.title}}</div>
                        </a>
			<p>{{product.description}}</p>
		  </div>

		  <div class="productprice">
			<div class="pull-right">
				<ngcart-addtocart id="{{product._id}}" quantity="1" quantity-max="9" name="{{product.title}}" price="{{product.price}}" template-url="components/ngcart/addtocart.html" data="product">Add To Cart</ngcart-addtocart>
				<a ui-sref="productEdit({id:product._id})" class="btn btn-default btn-sm" role="button">Edit</a>
	   			<a class="btn btn-default btn-sm " ng-click="deleteProduct()">Delete</a>
			</div>
			<div class="pricetext">{{product.price | currency}}</div>
		  </div>
		</div>
	  </div>
	</div>
</div>
