<div class="container">
	<h1>Create new Product</h1>
	<form class="form-horizontal" role="form" ng-submit="addProduct()">
		<div ng-include="'app/products/templates/_product_form.html'"></div>
	</form>
</div>
