<div class="container">
	<div class="row">
    		<div class="col-lg-12">
      			<h1 class="page-header">Products <small>{{query}}</small></h1>
    		</div>
  	</div>

	<div class="row">
		<div class="col-md-3" ng-include="'components/sidebar/sidebar.html'"></div>
		<div class="col-md-3" ng-show="products.length < 1"> No products to show.</div>
		<div class="col-md-3" ng-repeat="product in products">
			  <div class="thumbnail productbox">
				<div class="productdescription">
                                  <a ui-sref="productDetail({id:product._id})">
                                        <img src="{{product.imageUrl}}" alt="{{product.title}}" class="img-responsive">
					<div class="producttitle">{{product.title}}</div>
                                  </a>
				  <p>{{product.description | limitTo:100}}</p>
				</div>
                          
				<div class="productprice">
				  <div class="pull-right">
					<ngcart-addtocart id="{{product._id}}" quantity="1" quantity-max="9" name="{{product.title}}" price="{{product.price}}" template-url="components/ngcart/addtocart.html" data="product">Add To Cart</ngcart-addtocart>
				  </div>
				<div class="pricetext">{{product.price | currency}}</div>
                          </div>
		</div>
	</div>
</div>
